.container{
    width: 100%;
    height: 90vh;
    color: rgb(244, 244, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container h1{
    font-size: 55px;
    font-weight: 500;
}
span {
    color:#dfdc82;
}
.background{
    background-image: url(./back.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
   
}
.paragraph{
    display: flex;
    justify-content: center;
    
    color: #dfdc82;
}
.profile{
    border-radius: 50%;
}
h2{
    margin-left: 40px;
}
.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.pt-5{
    color: rgba(6, 0, 0, 0.896);

}
.text-body-secondary{
   font-size: 20px;
}